 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/Background-3.png');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 954px;
}

.u-section-1 .u-shape-1 {
  width: 213px;
  height: 37px;
  margin: -36px 37px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 174px;
  height: 35px;
  margin: -9px 12px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 395px;
  height: 40px;
  margin: 230px 249px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 369px;
  height: 40px;
  margin: -86px 122px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 324px;
  height: 40px;
  margin: -40px auto 0 275px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: -40px 0 0;
}

.u-section-1 .u-video-1 {
  width: 590px;
  height: 457px;
  margin: 22px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 5px;
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 60px;
  padding: 16px 32px 17px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-shape-1 {
    width: 160px;
    margin-top: 258px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-1 .u-shape-2 {
    width: 181px;
    height: 34px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 296px;
  }

  .u-section-1 .u-shape-3 {
    width: 214px;
    margin-top: -79px;
    margin-right: 35px;
  }

  .u-section-1 .u-shape-4 {
    width: 211px;
    margin-top: -85px;
    margin-right: 60px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-shape-2 {
    width: 336px;
    height: 30px;
    margin-top: 282px;
    margin-left: 120px;
  }

  .u-section-1 .u-shape-3 {
    width: 341px;
    height: 34px;
    margin-top: -69px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-1 .u-shape-4 {
    width: 283px;
    height: 31px;
    margin-top: -70px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-shape-5 {
    width: 178px;
    height: 35px;
    margin-top: -31px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -38px;
  }

  .u-section-1 .u-video-1 {
    width: 480px;
    margin-top: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-shape-1 {
    width: 179px;
    height: 32px;
    margin-top: 260px;
    margin-right: 71px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 314px;
    height: 34px;
    margin-top: -71px;
    margin-left: 13px;
  }

  .u-section-1 .u-shape-4 {
    height: 30px;
    margin-top: -69px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    width: 148px;
    margin-top: 76px;
    margin-right: auto;
    margin-left: 122px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -144px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-shape-1 {
    width: 196px;
    height: 22px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 221px;
    height: 22px;
    margin-top: 5px;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-3 {
    width: 240px;
    height: 21px;
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 237px;
    height: 24px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -96px;
  }

  .u-section-1 .u-video-1 {
    height: 324px;
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 758px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 94px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-image-1 {
    width: 238px;
    height: 238px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 44px;
    margin-right: 44px;
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    width: 119px;
    height: 119px;
    margin-top: 51px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 51px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, #000000, #404040);
}

.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-image-1 {
  width: 299px;
  height: 109px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 835px;
  margin: 74px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  width: 835px;
  font-size: 1.25rem;
  margin: 66px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-image-1 {
    width: 157px;
    height: 57px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin-bottom: 58px;
  }
} .u-section-4 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 965px;
}

.u-section-4 .u-shape-1 {
  width: 648px;
  height: 43px;
  margin: 56px 146px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 497px;
  height: 642px;
  margin: 72px auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -624px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -40px 0 0 613px;
}

.u-section-4 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: -512px auto 0;
}

.u-section-4 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 45px auto 0;
}

.u-section-4 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 45px auto 0;
}

.u-section-4 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 53px auto 0;
}

.u-section-4 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 45px auto 0;
}

.u-section-4 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 71px auto 0;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 52px;
  margin: 77px auto 56px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 643px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 413px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-right: 72px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -625px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -40px;
    margin-left: 193px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -512px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 440px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -422px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 31px;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/Background-3.png');
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 1695px;
}

.u-section-5 .u-shape-1 {
  width: 385px;
  height: 43px;
  margin: 60px auto 0 527px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -40px auto 0;
}

.u-section-5 .u-image-1 {
  width: 530px;
  height: 313px;
  --radius: 30px;
  margin: 66px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -313px 0 0 613px;
}

.u-section-5 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: -312px auto 0;
}

.u-section-5 .u-icon-2 {
  width: 35px;
  height: 35px;
  margin: 28px auto 0;
}

.u-section-5 .u-icon-3 {
  width: 35px;
  height: 35px;
  margin: 13px auto 0;
}

.u-section-5 .u-icon-4 {
  width: 35px;
  height: 35px;
  margin: 19px auto 0;
}

.u-section-5 .u-icon-5 {
  width: 35px;
  height: 35px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-6 {
  width: 35px;
  height: 35px;
  margin: 19px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 335px;
  height: 29px;
  margin: 139px auto 0 271px;
}

.u-section-5 .u-shape-3 {
  width: 191px;
  height: 30px;
  margin: -64px auto 0 778px;
}

.u-section-5 .u-shape-4 {
  width: 302px;
  height: 31px;
  margin: -31px auto 0 289px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -65px 158px 0 180px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  --radius: 30px;
  height: auto;
  min-height: 458px;
  margin: 26px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin: 35px 41px 0;
}

.u-section-5 .u-image-2 {
  width: 842px;
  height: 524px;
  margin: -72px -136px -101px -127px;
}

.u-section-5 .u-shape-5 {
  width: 455px;
  height: 36px;
  margin: 35px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 460px;
  margin: -36px auto 0;
}

.u-section-5 .u-image-3 {
  width: 448px;
  height: 448px;
  margin: -16px auto 0;
}

.u-section-5 .u-image-4 {
  width: 570px;
  height: 52px;
  margin: -88px auto 96px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 413px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 749px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 58px;
    margin-left: 80px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-image-2 {
    width: 570px;
    height: 355px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 335px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 193px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 529px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 155px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 205px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 349px;
  }

  .u-section-5 .u-shape-4 {
    margin-left: 238px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 336px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-5 .u-image-4 {
    width: 540px;
    height: 49px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-right: 400px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 201px;
    margin-left: 400px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -201px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 564px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 5px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 149px;
  }

  .u-section-5 .u-shape-4 {
    margin-left: 38px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 212px;
  }

  .u-section-5 .u-shape-5 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 31px;
    margin-top: 20px;
  }
}